## Python Libraries - Pandas - Merge and Append

In this section, you will merge and concatenate multiple dataframes. Merging is one of the most common operations you will do, since data often comes in various files.

### Merging

For merging, we have sales data across multiple sheets in an Excel file. We will now work with all these sheets and learn to:
* Merge multiple dataframes using common columns/keys using ```pd.merge()```

Let's first read all the data files.

In [10]:
# import the required libraries
import pandas as pd
import numpy as np

In [11]:
# read the sheets from file 'sales_returns.xlsx' into 2 different dataframes - orders and returns
orders = pd.read_excel('sales_returns.xlsx',sheet_name='Orders')
returns = pd.read_excel('sales_returns.xlsx',sheet_name='Returns')

In [12]:
# Check the shape of the dataframe 'orders'
orders.shape

(25728, 19)

In [13]:
# Check the shape of the dataframe 'returns'
returns.shape

(1079, 2)

In [14]:
# check the dataframe 'orders' and 'returns'
orders=orders.iloc[:,:4]
orders.head()

               Order ID  Market  Profit   Sales
0  AG-2012-AA6453-41020  Africa   53.76  298.68
1  AG-2012-AC4203-40915  Africa   14.58   91.38
2  AG-2012-AH2103-41133  Africa   11.04  276.96
3  AG-2012-AJ7803-40978  Africa    7.17   35.97
4  AG-2012-AS2853-41235  Africa   15.36   54.90

In [15]:
returns.head()

  Returned                  Order ID
0      Yes  CA-2012-SA20830140-41210
1      Yes  IN-2012-PB19210127-41259
2      Yes  CA-2012-SC20095140-41174
3      Yes    IN-2015-JH158207-42140
4      Yes    IN-2014-LC168857-41747

In [29]:
# Create a dataframe 'return_orders' by merging the two dataframes on Order_ID
return_orders=orders.merge(returns,on ='Order ID')

# Check the created dataframe
print(return_orders.head())

                Order ID  Market  Profit    Sales Returned
0  AG-2013-PO88653-41634  Africa  191.25  1932.24      Yes
1  AG-2014-CM21603-41755  Africa   10.32    43.05      Yes
2  AG-2014-CP20853-41889  Africa   14.10    84.72      Yes
3  AG-2014-RD95853-41712  Africa   21.03    64.38      Yes
4  AO-2013-JE57454-41544  Africa  106.59   499.23      Yes

In [17]:
# Check the shape of the new dataframe
return_orders.shape

(1079, 5)

In [18]:
# try to use the 'left' method to join two dataframes


# Check the created dataframe

In [19]:
# Check the orders where orders were returned

In [20]:
# Print the dataframe summary using the info() command

In [21]:
# Change the data type of the column 'Returned' 


# Check the dataframe after modification

In [22]:
# Replace the 'nan' value with 'No' in the column 'Returned'


# Check the dataframe after modification

### Append / Concatenate

Concatenation is much more straightforward than merging. It is used when you have dataframes having the same columns and want to append them (pile one on top of the other), or having the same rows and want to append them side-by-side.

In [23]:
# Import the required libraries

**Appending rows in a dataframe**

In [24]:
# Dataframes having the same columns

df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age' : ['34', '31', '22', '33'], 
                    'Gender': ['M', 'M', 'F', 'M']}
                  )

df2 = pd.DataFrame({'Name': ['Akhil', 'Asha', 'Preeti'],
                    'Age' : ['31', '22', '23'], 
                    'Gender': ['M', 'F', 'F']}
                  )

In [25]:
# Append the rows of df2 in df1

**Appending columns in a dataframe**

In [26]:
# Another dataframe with same number of rows as df1
df3 = pd.DataFrame({'School': ['RK Public', 'JSP', 'Carmel Convent', 'St. Paul'],
                    'Graduation Marks': ['84', '89', '76', '91']}
                  )

In [27]:
# Concatenating the dataframes: df1 and df3

In [28]:
# Concatenating the dataframes across column: df1 and df3